@model Car

<form method="post">
    <label>Name: </label>
    <input type="text" name="name" asp-for="Name"/>

    <label>Price: </label>
    <input type="number" name="price" asp-for="Price"/>

    <label>Color: </label>
    <input type="text" name="color" asp-for="Color"/>

    <input type="submit" />
</form>